footer.footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

footer.footer .wrapper ul.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

footer.footer .wrapper ul.items li.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 16px;
  width: 20%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer.footer .wrapper ul.items li.item .icon-svg {
  margin-right: 10px;
  max-width: 20px;
  max-height: 20px;
}

@media screen and (max-width: 700px) {
  footer.footer .wrapper ul.items li.item {
    font-size: 14px;
  }

  footer.footer .wrapper ul.items li.item .icon-svg {
    max-width: 15px;
    max-height: 15px;
    margin-right: 3px;
  }
}

@media screen and (max-width: 500px) {
  footer.footer .wrapper ul.items li.item {
    width: calc( 100% / 3);
  }

  footer.footer .wrapper ul.items li.item:nth-child(1),
  footer.footer .wrapper ul.items li.item:nth-child(2) {
    width: 50%;
    font-size: 16px;
  }

  footer.footer .wrapper ul.items li.item:nth-child(1) .icon-svg,
  footer.footer .wrapper ul.items li.item:nth-child(2) .icon-svg {
    margin-right: 10px;
    max-width: 20px;
    max-height: 20px;
  }
}