
section.portfolio
  .wrapper
    h2.h2-title Портфолио
    ul.items
      li.item
        h3.h3-title Weather Charts
        p.comment Приложение построено на React с библиотекой react-компонентов Material-UI, специально для него создан REST-API, бэкенд - PHP, база данных - MySQL
        a(href="#", title="Подробнее").link Подробнее
          +picture('wapp', 'jpg')
      li.item
        h3.h3-title Сайт транспортной компании
        p.comment Многостраничный сайт с калькулятором, использующим сторонний ресурс по REST-api, админка - WordPress
        a(href="#", title="Подробнее").link Подробнее
          +picture('trans-oil', 'jpg')
      li.item
        h3.h3-title Интернет-магазин детских игрушек
        p.comment Красивый интернет-магазин, построен на базе плагина WooCommerce WordPress
        a(href="#", title="Подробнее").link Подробнее
          +picture('babyshop', 'jpg')
