footer.footer
  .wrapper
    ul.items
      li.item
        +icon('whatsapp')
        a(href="https://wa.me/79811589813", title="WhatsApp").link WhatsApp
      li.item
        +icon('telegram')
        a(href="https://t.me/Alexsashka08", title="Telegram").link Telegram
      li.item
        +icon('github')
        a(href="https://github.com/Protoff", title="Профиль GitHub").link GitHub
      li.item
        +icon('codepen')
        a(href="https://codepen.io/Protoff", title="Профиль CodePen").link CodePen
      li.item
        +icon('codewars')
        a(href="https://www.codewars.com/users/Protoff", title="Профиль CodeWars").link CodeWars
