include ../../pug-mixins/pug-mixins.pug

header.header
  .wrapper
    .title
      h1.h1-title.
        Привет, меня зовут <span>Александр Шаблов и мне повезло,</span>я могу заниматься<span>любимым делом - веб-разработкой!</span>
    .plane
      picture.plane-image
        source(srcset="img/plane1.webp", type="image/webp")
        img(src="img/plane1.png", alt="Самолётик")

      each val in [['CSS',3],['JS',2],['VUE',5],['HTML',1],['PUG',4],['SASS',6],['REACT',7]]
        div(class= "plane-cloud cloud" + val[1])
          picture(class= "plane-cloud-picture")
            source(srcset="img/cloud100.webp", type="image/webp")
            img(src="img/cloud100.png", alt="Облачко")
            span.name= val[0]

      .plane-shadow
      .plane-comment Пример простой CSS-анимации

    p.comment.
      Я люблю разрабатывать сайты, программировать, люблю изучать новые технологии и применять их в работе - всё это очень интересно!

    a.button(href="https://t.me/Alexsashka08", target="_blank") Напишите мне
