
@font-face
  font-family: 'RobotoSlab'
  src: url('../fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype')
  font-weight: 1 999

@font-face
  font-family: 'Exo2'
  src: url('../fonts/Exo2-VariableFont_wght.ttf') format('truetype')
  font-weight: 1 999

@font-face
  font-family: 'Oswald'
  src: url('../fonts/Oswald-VariableFont_wght.ttf') format('truetype')
  font-weight: 1 999

@font-face
  font-family: 'Kreon'
  src: url('../fonts/Kreon-VariableFont_wght.ttf') format('truetype')
  font-weight: 1 999

@font-face
  font-family: 'Dosis'
  src: url('../fonts/Dosis-VariableFont_wght.ttf') format('truetype')
  font-weight: 1 999

@font-face
  font-family: 'GimletXRay'
  src: url('../fonts/GimletXRay-VF-customized.woff2') format('woff2-variations')
  font-weight: 1 999

@font-face
  font-family: 'HyperspaceRace'
  src: url('../fonts/HyperspaceRace-VariableGX.woff2') format('woff2-variations')
  font-weight: 1 999

@font-face
  font-family: 'PFGrandGothik'
  src: url('../fonts/PFGrandGothik-VF.woff2') format('woff2-variations')
  font-weight: 1 999

@font-face
  font-family: 'ScienceGothicVF'
  src: url('../fonts/ScienceGothicVF.woff2') format('woff2-variations')
  font-weight: 1 999

@font-face
  font-family: 'HalvarStencilFlexGX'
  src: url('../fonts/HalvarStencilFlexGX.woff2') format('woff2-variations')
  font-weight: 1 999

html, input::placeholder, textarea::placeholder
    box-sizing: border-box
    font-family: 'PFGrandGothik'
    font-variation-settings: "wght" 510, "wdth" 70, "slnt" 0

*, *:before, *:after
    box-sizing: inherit

a
    text-decoration: none
    transition: 0.5s

    &:hover
      transition: 0.5s

+reset()

.wrapper
  +wrapper()
