@import './smart-grid.sass'

section
  padding-top: 25px
  padding-bottom: 25px

.h2-title
  font-size: 60px
  font-variation-settings: "wght" 641, "wdth" 40, "ital" 0.3
  text-align: center
  width: 100%
  margin-bottom: 50px
  +to(550px)
    font-size: 50px
  +to(450px)
    font-size: 45px

  .comment
    display: block
    margin-top: 15px
    font-size: 25px
    font-variation-settings: "wght" 510,"wdth" 70,"ital" 0

.h3-title
  font-size: 30px
  margin-bottom: 20px
  font-variation-settings: "wght" 641, "wdth" 40, "ital" 0.3
