<!DOCTYPE html>
html(lang="en")
  include sections/head/head.pug

  body
    include sections/header/header.pug

    include sections/about/about.pug

    include sections/footer/footer.pug

    script(src="js/scripts.min.js")
