doctype html
html(lang="en")
  include sections/head/head.pug

  body
    include ./sections/heading/heading.pug
    include ./sections/header/header.pug

    include sections/about/about.pug

    include sections/portfolio/portfolio.pug

    include sections/contacts/contacts.pug

    include sections/modal/modal.pug
    include sections/footer/footer.pug

    script(src="scripts/scripts.min.js")
