doctype html
html(lang="en")
  include sections/head/head.pug

  body
    include ./sections/heading/heading.pug

    include sections/project/project.pug
    include sections/footer/footer.pug

    script(src="js/scripts.min.js")
